/* @import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap'); */

.App{
  display: flex;
  justify-content: center;
}

.main{
  width: 600px;
  /* border-radius: 15px; */
  background-color: white;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
}

.header{
  text-align: center;
  background-color: #c92205;
  color: white;
  padding: 10px;
  font-size: 28px;
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
}

.day{
  padding: 15px;
  color: black;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.temp{
  padding: 15px;
  color: black;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.flex{
  display: flex;
  justify-content: space-between;
}
.flex-data{
align-self: center;
}

@media screen and (max-width: 1200px) {
  .main{
      width: 600px;
  }
}

@media screen and (max-width: 800px) {
  .main{
      width: 500px;
  }
}
@media screen and (max-width: 500px) {
  .main{
      width: 350px;
  }
  .header{
      padding: 5px;
      font-size: 22px;
  }

.day{
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
}

.temp{
  padding: 10px;
  font-size: 14px;
}

}
@media screen and (max-width: 300px) {
  .main{
      width: 250px;
      
  }
  .flex{
          display: flex;
          flex-direction: column;
      }
}